main {
  max-width: 1000px;
  margin-inline: auto;
}

.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.shop-deal {
  margin-top: 100px;
  padding: 100px;

  border-radius: 3px;
}

.shoes {
  background-color: var(--quinary);
}

.tshirt {
  background-color: var(--quaternary);
}

.textTshirt {
  text-align: end;
}

.shop-deal h2 {
  font-family: "hobeaux-rococeaux-background", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  margin-left: -10px;
}

.shop-deal h3 {
  font-size: 2rem;
  padding-left: 15px;
}

.shop-deal p {
  padding-top: 30px;
  font-size: 1rem;
}

.shop {
  text-align: center;
  margin-top: 75px;
}

.shop a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--tertiary);
  border: solid 1px var(--tertiary);
  border-radius: 3px;
  padding-block: 10px;
  padding-inline: 15px;
}

.shop a:hover {
  color: var(--primary);
  border: solid 1px var(--primary);
}

.wave a {
  border: dashed 2px var(--tertiary);
}

.wave a:hover {
  border: dashed 2px var(--primary);
}

.t-shirt {
  width: 350px;
}

h4 {
  font-family: "franklin-gothic-urw", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.categories-list {
  margin-top: 50px;
  max-width: 900px;
  margin-inline: auto;

  margin-bottom: 50px;
}

.subcategories-list {
  display: flex;
}

.categorySubcategory {
  display: flex;
  gap: 20px;
}

.categorySubcategory a {
  margin-top: 5px;
}

.categorySubcategory a {
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "dolly-new", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--tertiary);
}

.categorySubcategory a:hover {
  text-decoration: underline;
}

.categories-list ul {
  list-style: none;
}

.categories-list li {
  text-align: center;

  display: flex;
  justify-content: center;
}

.subcategories-list a {
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "dolly-new", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--tertiary);
  background-color: var(--secondary);

  display: block;
  padding-block: 15px;
  padding-inline: 12px;
  margin-block: 5px;
  margin-inline: 10px;
  border-radius: 8px;
}

.subcategories-list a:hover {
  color: var(--secondary);
  background-color: #252525;
}

.sportingSpecial a {
  padding-inline: 6px;
}
