/*Brødkrummesti*/
.breadcrumbs {
  list-style: none;
  display: flex;

  margin-top: 100px;
  justify-content: center;
}

.slash {
  margin-inline: 10px;
}

.breadcrumbs a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--tertiary);
  border-bottom: solid 3px var(--secondary);
  border-radius: 3px;

  font-size: 1.3rem;
}

.breadcrumbs a:hover {
  border-bottom: solid 3px #c9c9c9;
}

.current a {
  border-bottom: solid 0px var(--secondary);
}

.current a:hover {
  border-bottom: solid 0px var(--secondary);
}

/*Productlist*/

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

h2 {
  margin-top: 100px;
  font-family: "caecilia", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.5rem;

  grid-column: 1 / span 3;
}

h3 {
  font-family: "franklin-gothic-urw", sans-serif;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.5rem;

  margin-top: 10px;
}

h4 {
  font-family: "franklin-gothic-urw", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.1rem;
}

p {
  font-family: "franklin-gothic-urw", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.3rem;
}

.smallProduct {
  background-color: var(--secondary);
  height: 660px;
  border-radius: 3px;
}

.smallProduct a {
  color: var(--tertiary);
  text-decoration: none;
  display: block;
}

.prev {
  margin-right: 5px;
  display: none;
}

.pricetag {
  margin-top: 15px;
  display: flex;
}

.discount {
  margin-left: 40px;
  color: var(--senary);
}

.discounted {
  display: none;
}

img {
  border-radius: 3px;
}

.img {
  border: solid 5px var(--secondary);
}

.img:hover {
  border: solid 5px var(--quaternary);
}

article.soldOut a::before {
  content: "Sold out";
  position: absolute;
  background-color: #252525;
  color: var(--primary);
  padding: 10px;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: "dolly-new", sans-serif;
  font-weight: 500;
  font-style: normal;
  border-radius: 3px;
}

article.soldOut a img {
  opacity: 0.5;
}

article.onSale .discounted {
  display: flex;
  margin-top: 10px;
}

article.onSale .pricetag .price .prev {
  display: flex;
}
